@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');

html, body {
  text-align: center;
  scroll-behavior: smooth;
  font-family: 'Noto Sans', sans-serif;
  padding: 5px;
}

a {
  text-decoration: none;
  color: black;
}

.navbar {
  margin: 0 auto;
  border: 1em;
  border-radius: 5px;
  padding: 10px;
  overflow: hidden;
  background-color: #e1e3e1;
}

.navbar a {
  opacity: 1;
  text-decoration: none;
  color: #171c18;
  float: center;
  text-align: center;
  padding: 5px;
  border-radius: 5px;
  transition: 0.5s;
  margin-right: 2%;
  /* display: inline-block; */
}

.navbar a:hover {
  opacity: 1;
  color: #e1e3e1;
  background-color: #5477ab;
  text-decoration: underline;
}

.header {
  text-align: center;
}

.header a img {
  vertical-align: middle;
  width: 50;
  height: 50;
  /* border-radius: 50%; */
}

.header a h1 {
  display: inline;
}

.header a {
  text-decoration: none;
  color: black; /* default color */
}

.header a:hover {
  cursor: pointer;
}

.link {
  margin: 0 auto;
  text-decoration: none;
  color: #5477ab;
}

.link:hover {
  text-decoration: underline;
}

.lab-members {
  text-align: left;
}

.research {
  text-align: left;
}

li {
  list-style-type: none;
}

.go-back-up {
  bottom: 0;
}

.go-back-up button {
  background-color: white;
  border: none;
  opacity: 0.8;
  transition: 1s;
}

.go-back-up button:hover {
  cursor: pointer;
  opacity: 1;
  transform: rotate(360deg);
}

/*.description::after {
  content: "";
  clear: both;
  display: table;
}

.description {
  overflow: hidden;
}*/

.description img {
  float: right;
  width: 20%; 
  height: 20%;
}

.lefte {
  float: left;
  margin: 0 auto;
}

.righte {
  float: right;
  margin: 0 auto;
}

.contact {
  display: flex;
  justify-content: center;
  text-align: left;
}

.contact .yessir {
  margin-right: 50px;
}

.contact-img {
  transform: translate(50%, 50%);
  margin-left: -9em;
}

.image-5 {
  float: left;
  width: 25%;
  width: 25%;
  padding: 30px;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 1100px) {
  body {
    font-size: 110%;
  }

  .research-yes {
    text-indent: 20px;
  }

  #image-3 {
    width: 20%;
    height: 20%;
  }

  .image-5 {
    width: 30%;
    height: 30%;
    padding: 30px;
  }
}

@media screen and (max-width: 900px) {
  body {
    font-size: 90%;
  }

  .research-yes {
    text-indent: 10px;
  }

  #image-3 {
    width: 35%;
    height: 35%;
  }

  .contact-img {
    margin-left: -6.5em;
  }

  .image-5 {
    width: 37%;
    height: 37%;
    padding: 20px;
  }
}

@media screen and (max-width: 600px) {
  body {
    font-size: 80%;
  }

  .research-yes {
    text-indent: 7.5px;
  }

  #image-3 {
    width: 40%;
    height: 40%;
  }

  .contact-img {
    margin-left: -5em;
  }

  .image-5 {
    width: 50%;
    height: 50%;
    padding: 15px;
  }
}

.content {
  margin: 0;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.sticky + .content {
  padding-top: 60px;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  /* border-radius: 10px; */
}

::-webkit-scrollbar-thumb {
  background: #333;
  /* border-radius: 10px; */
}