@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');


body {
  text-align: center;
  font-family: 'Noto Sans', sans-serif;
}

.navbar {
  border: 1em;
  border-radius: 5px;
  padding: 5px;
  overflow: hidden;
  background-color: #e1e3e1;
}

.navbar > a {
  opacity: 1;
  text-decoration: none;
  color: #171c18;
  float: left;
  text-align: center;
  padding: 5px;
  border-radius: 5px;
  transition: 0.5s;
  margin-right: 2%;
  /* display: inline-block; */
}

.navbar > a:hover {
  opacity: 1;
  color: #e1e3e1;
  background-color: #5477ab;
}

.content {
  margin: 0;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.sticky + .content {
  padding-top: 60px;
}

.header {
  text-align: center;
}

.header > a > img {
  vertical-align: middle;
  width: 50;
  height: 50;
  /* border-radius: 50%; */
}

.header > a > h1 {
  display: inline;
}

.header > a {
  text-decoration: none;
  color: black; /* default color */
}

.header > a:hover {
  cursor: pointer;
}