@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');

* {
  box-sizing: border-box;
}

html, body {
  text-align: center;
  scroll-behavior: smooth;
  font-family: 'Noto Sans', sans-serif;
  padding: 5px;
}

/*
img {
  border-radius: 5px;
}
*/

a {
  text-decoration: none;
  color: black;
}

.navbar {
  margin: 0 auto;
  border: 1em;
  border-radius: 5px;
  padding: 10px;
  overflow: hidden;
  background-color: #e1e3e1;
}

.navbar a {
  opacity: 1;
  text-decoration: none;
  color: #171c18;
  float: center;
  text-align: center;
  padding: 5px;
  border-radius: 5px;
  transition: 0.5s;
  margin-right: 2%;
  /* display: inline-block; */
}

.navbar a:hover {
  opacity: 1;
  color: #e1e3e1;
  background-color: #5477ab;
  text-decoration: underline;
}

.header a {
  text-decoration: none;
  color: black; /* default color */
}

.header a:hover {
  cursor: pointer;
}

.link {
  margin: 0 auto;
  text-decoration: none;
  color: #5477ab;
}

.link:hover {
  text-decoration: underline;
}

.header-img {
  position: absolute;
}

.lab-members {
  text-align: left;
}

.research {
  text-align: left;
}

li {
  list-style-type: none;
}

.go-back-up {
  bottom: 0;
}

.go-back-up button {
  background-color: white;
  border: none;
  opacity: 0.8;
  transition: 1s;
}

.go-back-up button:hover {
  cursor: pointer;
  opacity: 1;
  transform: rotate(360deg);
}

.lefte {
  float: left;
  margin: 0 auto;
}

.righte {
  float: right;
  margin: 0 auto;
}

.contact-img {
  padding-left: 7vw;
}

.image-5 {
  float: left;
  width: 25%;
  width: 25%;
  padding: 30px;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.center img {
  float: right;
  width: 20%;
  height: 20%;
}

.center p, .center h3 {
  text-align: left;
}

.opportunities {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  /* justify-content: flex-end; */
}

#image-3 {
  width: 45%;
  height: 45%;
}

#image-2 {
  width: 15%;
  height: 15%;
  padding-bottom: 0.5vh;
  max-width: 250px;
  max-height: 250px;
}

#image-7 {
  width: 12%;
  height: 12%;
  max-width: 250px;
  max-height: 250px;
}

/*
.gallery-images {
  display: flex;
  text-align: left;
  flex-direction: flex-start;
  align-items: center;
}
*/

.gallery-inside {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.gallery-images .content-img {
  width: 20vw;
  height: 20vh;
  max-width: 200px;
}

.gallery-images .content-img:hover {
  cursor: pointer;
}

.images-research #image-2 {
  float: left;
  padding-right: 1vw;
}

.images-research #image-7 {
  float: right;
  padding-left: 0.5vw;
}

.homepage-images img {
  padding: 1vw;
}

.left-top {
  float: left;
  overflow: hidden;
}

.lab-members img {
  float: left;
  padding-right: 1vw;
}

.lab-members div {
  padding-bottom: 7vh;
}

@media screen and (max-width: 1100px) {
  body {
    font-size: 110%;
  }

  .research-yes {
    text-indent: 20px;
  }

  .image-5 {
    width: 30%;
    height: 30%;
    padding: 30px;
  }

  .gallery-images img {
    width: 35%;
    height: 35%;
  }
}

@media screen and (max-width: 900px) {
  body {
    font-size: 90%;
  }

  .research-yes {
    text-indent: 10px;
  }

  .contact-img {
    padding-left: 11vw;
  }

  .image-5 {
    width: 39%;
    height: 39%;
    padding: 20px;
  }

  #first h5 {
    font-size: 52.5%;
  }

  .gallery-images img {
    width: 37%;
    height: 37%;
  }
}

@media screen and (max-width: 600px) {
  body {
    font-size: 80%;
  }

  .research-yes {
    text-indent: 7.5px;
  }

  .contact-img {
    padding-left: 12.5vw;
  }

  .image-5 {
    width: 50%;
    height: 50%;
    padding: 15px;
  }

  #first h5 {
    font-size: 40%;
  }

  .gallery-images img {
    width: 43%;
    height: 43%;
  }
}

.content {
  margin: 0;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  justify-content: space-between;
}

.contente {
  margin: 0;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.sticky + .content {
  padding-top: 60px;
}

.alert {
    margin-bottom: 0;
    text-align: center;
    padding: 8px;
    color: #fff;
    background: #1c1c1c;
    border-color: #000;
    display: block;
}
.alert {
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
}
.alert-dismissable .close, .alert-dismissible .close {
    right: 12px;
}
.alert-dismissable .close, .alert-dismissible .close {
    position: relative;
    top: -2px;
    right: -21px;
    color: inherit;
}
button.close {
    -webkit-appearance: none;
    padding: 0;
    cursor: pointer;
    background: 0 0;
    border: 0;
}
.close {
    float: right;
    font-size: 21px;
    font-weight: 700;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    filter: alpha(opacity=20);
    opacity: .2;
    margin-right: 20px;
}
.alert p {
    font-size: 16px;
}
.alert p, .alert ul {
    margin-bottom: 0;
}
.alert a {
    color: #00aeef;
    font-size: 16px;
}
.alert {
    margin-bottom: 0;
    text-align: center;
    padding: 8px;
    color: #fff;
    background: #1c1c1c;
    border-color: #000;
}
a {
    -webkit-transition: all 250ms cubic-bezier(0.55, 0, 0.1, 1);
    transition: all 250ms cubic-bezier(0.55, 0, 0.1, 1);
}
.alert a:hover, .alert a:focus, .alert a:active {
    text-decoration: none;
    color: inherit;
}

.gallery-image {
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

.gallery-image:hover {opacity: 0.7;}

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}


.modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
}

/* Caption of Modal Image (Image Text) - Same Width as the Image */
.caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
}

/* Add Animation - Zoom in the Modal */
.modal-content, .caption {
  animation-name: zoom;
  animation-duration: 0.6s;
}

@keyframes zoom {
  from {transform:scale(0)}
  to {transform:scale(1)}
}

/* The Close Button */
.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
  .modal-content {
    width: 100%;
  }
}